@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  background-image: linear-gradient(to bottom, #6AB7F5, #fff);
  text-align: center;
  min-height: 100vh;
}

#main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  max-width: 420px;
  width: 100%;

  position: relative;
}

#pokedex-device {
  max-width: 425px;
  width: 100%;
}

.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-60%, 20%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  top: 54.5%;
  right: 27%;

  font-weight: 600;
  font-size: clamp(8px, 5vw, 25px);
  color: #aaa;
}

.pokemon__name {
  text-transform: capitalize;
  color: #3A444D;
}